<!DOCTYPE html>

<html lang="zh-hans">

<head>
    <title>修改 user | Django 站点管理员</title>
    <link rel="stylesheet" type="text/css" href="../static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/admin/css/forms.css">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="../static/admin/jsi18n/"></script>
    <script type="text/javascript" src="../static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="../static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="../static/admin/js/core.js"></script>
    <script type="text/javascript" src="../static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="../static/admin/js/actions.js"></script>
    <script type="text/javascript" src="../static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="../static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="../static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/admin/css/responsive.css">

    <meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-MyModel model-user change-form" data-admin-utc-offset="28800">

    <!-- Container -->
    <div id="container">

        <!-- Content -->
        <div id="content" class="colM">

            <h1>修改 user</h1>
            <div id="content-main">

                <form enctype="multipart/form-data" action="" method="post" id="user_form" novalidate><input
                        type="hidden" name="csrfmiddlewaretoken"
                        value="6fkJMRe0TsxdQHam2T7Mrxnrl65yVxaBw8atRwl7hBBnhyi6NSGlHSVYzTCejHoa">
                    <div>

                        <fieldset class="module aligned ">



                            <div class="form-row field-phone">


                                <div>

                                    <label class="required" for="id_phone">Phone:</label>

                                    <input type="text" name="phone" value="1sadad12313" class="vTextField" required
                                        id="id_phone" maxlength="20">



                                </div>

                            </div>

                            <div class="form-row field-name">


                                <div>


                                    <label class="required" for="id_name">Name:</label>

                                    <input type="text" name="name" class="vTextField" required id="id_name"
                                        maxlength="10">



                                </div>

                            </div>

                            <div class="form-row field-sex">


                                <div>


                                    <label class="required" for="id_sex">Sex:</label>

                                    <input type="text" name="sex" class="vTextField" required id="id_sex" maxlength="5">


                                </div>

                            </div>

                            <div class="form-row field-type">


                                <div>


                                    <label class="required" for="id_type">Type:</label>

                                    <input type="number" name="type" value="1" class="vIntegerField" id="id_type"
                                        required>



                                </div>

                            </div>

                            <div class="form-row field-class_number">


                                <div>


                                    <label class="required" for="id_class_number">Class number:</label>

                                    <input type="text" name="class_number" class="vTextField" required
                                        id="id_class_number" maxlength="20">



                                </div>

                            </div>

                            <div class="form-row field-pass_word">


                                <div>


                                    <label class="required" for="id_pass_word">Pass word:</label>

                                    <input type="text" name="pass_word" value="123456" class="vTextField" required
                                        id="id_pass_word" maxlength="20">



                                </div>

                            </div>

                            <div class="form-row field-academy">


                                <div>


                                    <label class="required" for="id_academy">Academy:</label>

                                    <input type="text" name="academy" class="vTextField" required id="id_academy"
                                        maxlength="20">



                                </div>

                            </div>

                            <div class="form-row field-id_card">


                                <div>


                                    <label class="required" for="id_id_card">Id card:</label>

                                    <input type="text" name="id_card" value="123" class="vTextField" required
                                        id="id_id_card" maxlength="20">



                                </div>

                            </div>

                            <div class="form-row field-avatar">


                                <div>


                                    <label class="required" for="id_avatar">Avatar:</label>

                                    <p class="file-upload">目前: <a
                                            href="/media/media/default.jpg">media/default.jpg</a><br>
                                        修改:
                                        <input type="file" name="avatar" id="id_avatar"></p>



                                </div>

                            </div>

                        </fieldset>


                        <div class="submit-row">

                            <input type="submit" value="保存" class="default" name="_save">


                            <p class="deletelink-box"><a href="/admin/MyModel/user/1sadad12313/delete/"
                                    class="deletelink">删除</a></p>


                            <input type="submit" value="保存并增加另一个" name="_addanother">
                            <input type="submit" value="保存并继续编辑" name="_continue">


                        </div>



                        <script type="text/javascript" id="django-admin-form-add-constants"
                            src="/static/admin/js/change_form.js">
                        </script>




                        <script type="text/javascript" id="django-admin-prepopulated-fields-constants"
                            src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
                        </script>


                    </div>
                </form>
            </div>

        </div>
   
    </div>
    <!-- END Container -->

</body>

</html>