<!DOCTYPE html>

<html lang="zh-hans">
<head>
    <title>选择 user 来修改 | Django 站点管理员</title>
    <link rel="stylesheet" type="text/css" href="../static/admin/css/base.css">


    <link rel="stylesheet" type="text/css" href="../static/admin/css/changelists.css">


    <script type="text/javascript" src="../admin/jsi18n/"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script type="text/javascript" src="../static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="../static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="../static/admin/js/core.js"></script>
    <script type="text/javascript" src="../static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="../static/admin/js/actions.js"></script>
    <script type="text/javascript" src="../static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="../static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="../static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/admin/css/responsive.css">


    <meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-MyModel model-user change-list"
      data-admin-utc-offset="28800">

<!-- Container -->
<div id="container">


    <!-- Content -->
    <div id="content" class="flex">


        <div id="content-main">


            <div class="module" id="changelist">


                <form id="changelist-form" method="post" novalidate><input type="hidden">


                    <div class="results">
                        <table id="result_list">
                            <thead>
                            <tr>

                                <th scope="col" class="action-checkbox-column">

                                    <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="column-__str__">

                                    <div class="text"><span>User</span></div>
                                    <div class="clear"></div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>


                            <tr class="row1">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="admin"
                                                                   class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/admin/change/">User object
                                    (admin)</a></th>
                            </tr>


                            <tr class="row2">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="3434a"
                                                                   class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/3434a/change/">User object
                                    (3434a)</a></th>
                            </tr>


                            <tr class="row1">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                                                                   value="1sadad12313" class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/1sadad12313/change/">User object
                                    (1sadad12313)</a></th>
                            </tr>


                            <tr class="row2">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                                                                   value="1sadad" class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/1sadad/change/">User object
                                    (1sadad)</a></th>
                            </tr>


                            <tr class="row1">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                                                                   value="18935134237" class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/18935134237/change/">User object
                                    (18935134237)</a></th>
                            </tr>


                            <tr class="row2">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                                                                   value="15008461730" class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/15008461730/change/">User object
                                    (15008461730)</a></th>
                            </tr>


                            <tr class="row1">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                                                                   value="12312323" class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/12312323/change/">User object
                                    (12312323)</a></th>
                            </tr>


                            <tr class="row2">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                                                                   value="123123222" class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/123123222/change/">User object
                                    (123123222)</a></th>
                            </tr>


                            <tr class="row1">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                                                                   value="123123213123" class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/123123213123/change/">User object
                                    (123123213123)</a></th>
                            </tr>


                            <tr class="row2">
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                                                                   value="123123" class="action-select"></td>
                                <th class="field-__str__"><a href="/admin/MyModel/user/123123/change/">User object
                                    (123123)</a></th>
                            </tr>

                            </tbody>
                        </table>
                    </div>


                    <p class="paginator">

                        10 users


                    </p>

                </form>
            </div>
        </div>


    </div>
    <!-- END Content -->

</div>
<!-- END Container -->

</body>
</html>
